main.container {padding-top: 10px;}

.entrys {padding: 0 10px;}
.entrys>.entry {margin-bottom: 20px; min-height: 85px;}

.entrys>.entry h3 {margin-top: 0; margin-bottom: 5px;}
.entrys>.entry h3>small {font-size: 0.45em; vertical-align: super;}

.scroll-box {overflow-y: auto; max-height: 275px;}

#feed ul {
	list-style-type: none;
	padding-left: 0;
}

#feed ul>li {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ECF0F1;
}

#feed ul>li:last-child {
	border-bottom: none;
}

#footer > .list-inline {
    display: inline;
}
